// Order and Unorder list
.no-bullet-point {
    list-style: none;
}

// Logo
.logo {
    font-size: 5rem;
    font-family: 'Comforter Brush', cursive;
}

// Font
.font-normal {
    font-size: 1.6rem;
}

// Links
.link-no {
    text-decoration: none;
    color: $color-black;
}

.link-load {
    position: relative;
    text-decoration: none;
    color: $color-black;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #F55D3E;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        visibility: visible;
        transform: scale(1);
    }
}