<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <div class="nav__wrap">
                    <input class="nav__input" type="checkbox">
                    <div class="nav__menu-mobile">
                        <span class="nav__span nav__span--one"></span>
                        <span class="nav__span nav__span--two"></span>
                        <span class="nav__span nav__span--three"></span>
                    </div>
                    <ul class="nav__menu no-bullet-point">
                        <li class="nav__item"><a class="link-load" href="{{ path('app_page_home') }}">Home</a></li>
                        <li class="nav__item"><a class="link-load" href="#">Ricette</a></li>
                        <li class="nav__item"><a class="link-load" href="#">Strumenti da cucina</a></li>
                        <li class="nav__item logo"><a class="link-no" href="#">Kitchen1984</a></li>
                        <li class="nav__item"><a class="link-load" href="#">Guide</a></li>
                        <li class="nav__item"><a class="link-load" href="#">Chi siamo</a></li>
                        <li class="nav__item"><a class="link-load" href="#">Contatti</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
